.about-container {
  display: flex;
  justify-content: space-between;
}
.about-container .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-container .left .about-content {
  width: 70%;
}
.about-container .left .about-content h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  word-spacing: 4px;
  font-size: 45px;
  line-height: 1.2;
  width: 80%;
  color: var(--color-pencil);
}
.about-container .left .about-content p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  word-spacing: 3px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-para);
}
.about-btn {
  margin-top: 44px;
}
.about-btn a {
  font-size: 18px;
  font-weight: normal;
  padding: 13px 18px;
  text-transform: capitalize;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all 0.3s;
}
.about-btn a:hover {
  background: var(--color-pencil);
}
.about-container .right {
  width: 50%;
}
.about-container .right .about-img {
  background: url("../../assets/me.jpeg");
  background-attachment: fixed;
  background-position: 155px 29%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  border-left: 18px solid var(--color-primary);
}

@media screen and (max-width: 1000px) {
  main {
    margin: 115px 0;
  }
  .about-container .left .about-content h1 {
    font-size: 36px;
    width: 100%;
  }
  .about-container .left .about-content p {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .about-container {
    display: block;
  }
  .about-container .left {
    width: 100%;
    text-align: center;
  }
  .about-container .left .about-content {
    width: 80%;
  }
  .about-container .left .about-content h1 {
    font-size: 42px;
  }
  .about-container .left .about-content p {
    line-height: 1.6;
    word-spacing: 4px;
  }
  .about-container .right {
    width: 100%;
    margin: 33px 0;
  }
  .about-container .right .about-img {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    border-left: none;
    border-top: 18px solid var(--color-primary);
  }
}

@media screen and (max-width: 500px) {
  .about-container .left .about-content h1 {
    font-size: 30px;
  }
  .about-container .left .about-content p {
    font-size: 14px;
  }
}
