nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  position: fixed;
  top: 0;
  z-index: 999;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
}
.left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.logo {
  width: 110px;
}
.nav-right {
  width: 70%;
}
.links {
  display: flex;
  align-items: center;
  justify-content: right;
}
.links li {
  list-style: none;
  width: 100px;
}
.links a {
  color: var(--color-gray);
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}
.links a.active {
  color: var(--color-primary);
  height: 30px;
  font-weight: bold;
}
.links a {
  position: relative;
}
.links a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 100%;
  width: 0%;
  border-bottom: 3px solid var(--color-primary);
  z-index: 1;
  transition: width 0.3s ease;
}
.links a:hover::before {
  width: 100%;
}
.sidebar-toggle {
  font-size: 2.1rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999999;
  display: none;
  position: fixed;
  right: 10%;
  right: 4%;
  top: 3%;
  color: var(--color-primary);
}

.sidebar-toggle-open {
  position: fixed;
  color: var(--color-secondary);
  right: 12%;
  top: 14%;
}

@media screen and (max-width: 800px) {
  .nav-center {
    width: 100%;
  }
  .nav-right {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: var(--color-secondary);
    height: 100vh;
    transform: translate(100%);
    align-items: center;
    width: 78vw;
    transition: transform 0.3s;
  }
  .logo {
    width: 80px;
  }
  .show-nav-right {
    display: flex;
    background: var(--color-primary);
    transform: translate(0);
    box-shadow: 24px 9px 19pc 5pc black;
    width: 78vw;
    transition: transform 0.3s;
    color: var(--color-white);
  }
  .links {
    flex-direction: column;
    width: 100%;
    z-index: 9999;
    height: 90%;
    justify-content: end;
  }
  .links li {
    width: 74%;
    text-align: end;
    padding: 12px 0;
  }
  .links a {
    font-size: 31px;
  }
  .links a.active {
    color: var(--color-secondary);
  }
  .links a::before {
    border-bottom: 3px solid var(--color-secondary);
  }
  .sidebar-toggle {
    display: block;
  }
  .showSidebar {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .nav-right {
    width: 78vw;
  }
}
