footer {
  height: 10vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span {
  font-size: 20px;
}
@media (max-width: 575px) {
  footer {
    height: 8vh;
  }
  footer span {
    font-size: 13px;
  }
}
